.report{
    display: flex;
    flex-wrap:wrap;
    max-width:450px;
    justify-content: center;
    
}
.alien{
    width: 450px;
}
.report-page{ 
    background:linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ), url('https://i.ytimg.com/vi/JKFFBio2Fm8/maxresdefault.jpg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.name{
    flex: 1 0 100%;
    margin-bottom: 1.5rem;
    max-width: 445px;

}

.job{
    flex: 1 0 100%;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 1rem;
}

.report-button{
    flex: 1 0 100%;
    background-color: transparent;
    border: none;
    box-shadow: none;
    font-size: 2rem;
    color:white;
}

h3{
     margin-bottom: 4rem;
     color:white;
}

h1{
    padding-top: 4rem;
    color:white;
}