<section class="register-body">

<h2>Register</h2>
<div class= 'container'>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit($event)" class="register">

    <input type="text"  class="name" placeholder="name" formControlName= 'name'>
    <input type="number" class="age" placeholder="age"  formControlName= 'age'>
    
    <select formControlName="job_id"   class="job" placeholder="Select a Job" required >
      <option [value]="NO_JOB_SELECTED" disabled selected>Select a Job</option>
      <option *ngFor="let job of marsJobs" [value]="job.id">{{ job.name }}</option>
    </select>


    <button>Check In</button>

  </form>
</div>
</section>